
h1{
	justify-content: center;
	text-align: center;
	color: #DAA520;
}

.main{

	background-color: yellow;

}




/*
#key7, #key8, #key9, #keyCLEAR{
	float: left;
	vertical-align: top;
}

#key4, #key5, #key6, #keyDEPOSIT{
	float: left;
	vertical-align: 
}

#key1, #key2, #key3, #keyWITHDRAW{
	float: left;
	display: inline-block;
}*/